{% extends 'base.html.twig' %}

{% block title %}RegionOrState index{% endblock %}

{% block body %}
    <h1>RegionOrState index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>UpdateAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for region_or_state in region_or_states %}
            <tr>
                <td>{{ region_or_state.id }}</td>
                <td>{{ region_or_state.name }}</td>
                <td>{{ region_or_state.updateAt ? region_or_state.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_region_or_state_show', {'id': region_or_state.id}) }}">show</a>
                    <a href="{{ path('app_region_or_state_edit', {'id': region_or_state.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_region_or_state_new') }}">Create new</a>
{% endblock %}
